#customer-review{
    position: relative;
}

.user-message {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 10px; /* Space between image and message */
    transition: all 3s linear;
  }

  #customer-review .user-message:nth-child(-n+5) {
    left: 0;
    opacity: 0;
  }

  #customer-review.active .user-message:nth-child(-n+10) {
    opacity: 1;
  }

  #customer-review .user-message:nth-child(n+6):nth-child(-n+10) {
    left: 100%;
  }
  

  #customer-review.active .user-message:nth-child(1) {
    top: 10%;
    left: 7%;
  }
  #customer-review.active .user-message:nth-child(2) {
    top: 18%;
    left: 27%;
  }
  #customer-review.active .user-message:nth-child(3) {
    top: 40%;
    left: 3%;
  } 

  #customer-review.active .user-message:nth-child(4) {
    top: 60%;
    left: 12%;
  }
  #customer-review.active .user-message:nth-child(5) {
    top: 80%;
    left: 20%;
  }
  #customer-review.active .user-message:nth-child(6) {
    top: 85%;
    left: 43%;
  } 
  
  #customer-review.active .user-message:nth-child(7) {
    top: 8%;
    left: 70%;
  } 

  #customer-review.active .user-message:nth-child(8) {
    top: 25%;
    left: 78%;
  }
  #customer-review.active .user-message:nth-child(9) {
    top: 50%;
    left: 80%;
  }
  #customer-review.active .user-message:nth-child(10) {
    top: 70%;
    left: 73%;
  } 
  
  .user-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .message-bubble {
    padding: 0 16px;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: var(--bubble-bg);
    border-radius: 30px;
    white-space: nowrap;
    font-size: 16px;
    color: var(--bubble-txt);
  }
  