/* Hide scrollbar */
.feature-scroll-container::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

/* Main section styling */
.features-section {
  height: 100vh;
  background-color: #111;
  color: #fff;
  display: flex;
  align-items: center;
  /* overflow: hidden; */
  position: relative;
}

/* Scroll container with initial spacing and animation */
.feature-scroll-container {
  display: flex;
  flex: 1;
  padding: 0 1.5rem;
  gap: 3rem; /* double spacing */
  overflow-x: auto;
  scrollbar-width: none;
  /* min-width: fit-content; */
}

/* Each box */
.feature-box {
  flex: 0 0 auto;
  border-radius: 1.5rem;
  width: 40vh;
  height: 40vh;
  background: #222;
  display: flex;
  flex-direction: column; /* STACK ICON & TEXT */
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

/* Background for odd/even boxes */
.feature-scroll-container .feature-box:nth-child(odd) {
  background: linear-gradient(135deg, #1a1a1a, #2e2e2e);
}
.feature-scroll-container .feature-box:nth-child(even) {
  background: linear-gradient(135deg, #252c32, #372f37);
}

/* Activate animation when section is visible */
.section.active .feature-scroll-container {
  animation: trainMove 5s ease forwards;
}


/* Section typography */
.section-heading .section-subtitle{
  text-transform: uppercase;
  color: #999;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  letter-spacing: 1px;
}

.section-heading .section-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
}

.section-description {
  color: #ccc;
  max-width: 700px;
  margin: 0 auto 2rem auto;
  font-size: 0.95rem;
}

/* Feature icon */
.feature-icon {
  font-size: 2rem;
  margin-bottom: 0.75rem;
  color: #82dfeb;
}

/* Feature title below icon */
.feature-title {
  font-size: 1.3rem;
  font-weight: 600;
  color: #eee;
}

.feature-description {
  font-size: 0.95rem;
  color: #ccc;
  padding: 10px;
}

/* Animation keyframes */
/* @keyframes trainMove {
  0% {
    transform: translateX(10%);
    gap: 3rem;
  }
  30% {
    transform: translateX(0%);
    gap: 1.5rem;
  }
  70% {
    transform: translateX(-30%);
    gap: 3rem;
  }
  100% {
    transform: translateX(-30%);
    gap: 1.5rem;
  }
} */

@keyframes trainMove {
  0% {
    margin-left: 0%;
    gap: 3rem;
  }
  30% {
    margin-left: -40%;
    gap: 1.5rem;
  }
  60% {
    margin-left: -50%;
    gap: 3rem;
  }
  80% {
    margin-left: -50%;
    gap: 1.5rem;
  }
  100% {
    margin-left: 0%;
    gap: 1.5rem;
  }
}


