:root {
  --accent: #d46ae2;
  --btn-highlight: #d46ae2;
  --text: #eaecee;
  --heading: #eee;
  --light-accent: #daa5c8;
  --circle-title: #eaeaea;
  --bubble-bg: #1b1d1c;
  --bubble-txt: #e8e9e8;
  --fancy-button-gradient: radial-gradient(circle at 10% 20%, #d46ae297 10%, #eeeeee8e 80%);
}

body.light-mode{
  --accent: #daa5c8;
  --btn-highlight: #101010;
  --text: #101010;
  --heading: #daa5c8;
  --circle-title: #2c3e50;
  --bubble-bg: #818284;
  --fancy-button-gradient: radial-gradient(circle at 10% 20%, #daa5c87a 10%, #eeeeee8e 80%);
  background: linear-gradient(to right, #eeeeee, #dddddd);
}

/* Default Dark Mode Body */
body {
  font-family: "Raleway", sans-serif;
  background: linear-gradient(to right, #0a0a0a, #1a1a1a);
  color: var(--text);
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  transition: color 0.5s ease;
  position: relative;
  overflow-x: hidden;
}

/* Common Section Base Style */
.section {
  position: relative;
  z-index: 1;
  color: var(--text);
  transition: color 0.5s ease;
  overflow-y: visible;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Overlay Fill Animation for Each Section */
.section::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background: linear-gradient(to right, #f4eeee, #f0f0f0);
  z-index: -1;
  transition: width 1s ease;
}

/* When light mode is active, expand the overlay */
body.light-mode .section::before {
  width: 100%;
}

/* Background Colors for Dark Mode Sections */
#about, #product {
  background: linear-gradient(to right, #101010, #181818);;
}

#features {
  background: #101010;
}

#buy {
  background: #181818;
}

body.light-mode .section:nth-child(odd)::before {
  background: linear-gradient(to right, #f5f3f3, #f1efef);
}

body.light-mode .section:nth-child(even)::before {
  background: linear-gradient(to right, #f4eeee, #f0f0f0);
}

/* body.light-mode #features::before {
  background: linear-gradient(to right, #f5f3f3, #f1efef);
}


body.light-mode #buy::before {
  background: linear-gradient(to right, #f4f6f6, #f0f2f2);
}


body.light-mode #footer::before {
  background: linear-gradient(to right, #f6f2f2, #f2eeee);
}

body.light-mode #customer-review::before{
  background: linear-gradient(to right, #f3f3f3, #efefef);
  
} */
