:root {
  --accent: #d46ae2;
  --btn-highlight: #d46ae2;
  --text: #eaecee;
  --heading: #eee;
  --light-accent: #daa5c8;
  --circle-title: #eaeaea;
  --product-card-bg: #191919;
  --bubble-bg: #1b1d1c;
  --bubble-txt: #e8e9e8;
  --toggle-clr: #eee;
  --color-light: #eee;
  --color-dark: #242625;
  --box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  --fancy-button-gradient: radial-gradient(circle at 10% 20%, #d46ae297 10%, #eeeeee8e 80%);
  --feature-box-bg-odd: linear-gradient(135deg, #1a1a1a, #2e2e2e);
  --feature-box-bg-even: linear-gradient(135deg, #252c32, #372f37);
}

body.light-mode{
  --accent: #daa5c8;
  --btn-highlight: #101010;
  --text: #373434;
  --heading: #daa5c8;
  --circle-title: #2c3e50;
  --bubble-bg: #2e3230;
  --toggle-clr: #202020;
  --product-card-bg: #fff;
  --box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2), inset 0 0 0 1px rgba(255,255,255,0.05);
  --fancy-button-gradient: radial-gradient(circle at 10% 20%, #daa5c87a 10%, #eeeeee8e 80%);
  background: linear-gradient(to right, #f5f5f7, #f5f6f8);
  --feature-box-bg-odd: #fff;
  --feature-box-bg-even: #fff;
}

/* Default Dark Mode Body */
body {
  font-family: "Raleway", sans-serif;
  background: linear-gradient(to right, #0a0a0a, #1a1a1a);
  color: var(--text);
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  transition: color 0.5s ease;
  position: relative;
  overflow-x: hidden;
}

/* Common Section Base Style */
.section {
  position: relative;
  z-index: 1;
  color: var(--text);
  transition: color 0.5s ease;
  overflow-y: visible;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Overlay Fill Animation for Each Section */
.section::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background: linear-gradient(to right, #f4eeee, #f0f0f0);
  z-index: -1;
  transition: width 1s ease;
}

#map {
  width: 100%;
  height: 100vh; 
}


/* When light mode is active, expand the overlay */
body.light-mode .section::before {
  width: 100%;
}

/* Background Colors for Dark Mode Sections */
#about, #customer-review {
  background: linear-gradient(to right, #101010, #181818);;
}

#features {
  background: #101010;
}

#product-rating {
  background: #111111;
}

#product {
  background: #100f0f;
}

#buy {
  background: #181818;
}

.section{
  background: #1b1d1c;
}

body.light-mode .section:nth-child(odd)::before {
  background: linear-gradient(to right, #f1f1f3, #f3f3f5);
}

body.light-mode .section:nth-child(even)::before {
  background: linear-gradient(to right, #f5f5f7, #f5f6f8);
}

